.water-bottle {
    position: fixed;
    right: 0;
    top: 0;
    width: 50px; /* Aumenta el tamaño para que sea más visible */
    height: auto;
    z-index: 999;
    pointer-events: none;
    transition: transform 0.1s linear;
}
